@import "@/app/styles/utils/variables";
@import "@/app/styles/utils/media";
.footer {
  display: flex;
  padding: 16px 16px 0 16px;
  justify-content: space-between;
  border-top: solid $gray 1px;
  color: $darkgray;
  font: 500 16px $mainfont;
  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font: 500 24px $photogram;
  }
  &__copyright {
    color: $gray50;
  }
  &__left {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}
